CloudBreakArtifacts/recipes/ALARM_FATIGUE_DEMO_CONTROL/package/nifi/alarm_fatigue.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>V4</description>
  <groupId>3584dc85-015f-1000-bdb5-82d82c38f816</groupId>
  <name>alarm_fatigue</name>
  <snippet>
    <connections>
      <id>91c571d8-6c80-3a40-0000-000000000000</id>
      <parentGroupId>bf9145fa-e0cd-354d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
        <id>efca00cd-0889-3e9f-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>6420c152-c248-3080-0000-000000000000</groupId>
        <id>8f168194-f161-313d-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3d96410e-a44d-378a-0000-000000000000</id>
      <parentGroupId>bf9145fa-e0cd-354d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6420c152-c248-3080-0000-000000000000</groupId>
        <id>d197de37-dd8e-3dee-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>fba256d8-092a-38d4-0000-000000000000</groupId>
        <id>7894b205-2792-3e30-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processGroups>
      <id>fba256d8-092a-38d4-0000-000000000000</id>
      <parentGroupId>bf9145fa-e0cd-354d-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>2f119b6d-7792-3c6f-0000-000000000000</id>
          <parentGroupId>fba256d8-092a-38d4-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fba256d8-092a-38d4-0000-000000000000</groupId>
            <id>7894b205-2792-3e30-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>fba256d8-092a-38d4-0000-000000000000</groupId>
            <id>2658a7da-f3c8-3500-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>73545ffb-4848-3939-0000-000000000000</id>
          <parentGroupId>fba256d8-092a-38d4-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fba256d8-092a-38d4-0000-000000000000</groupId>
            <id>2658a7da-f3c8-3500-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>fba256d8-092a-38d4-0000-000000000000</groupId>
            <id>4a43284a-e326-3a5d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <outputPorts>
          <id>7894b205-2792-3e30-0000-000000000000</id>
          <parentGroupId>fba256d8-092a-38d4-0000-000000000000</parentGroupId>
          <position>
            <x>427.86676021279607</x>
            <y>517.1667330907211</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Output Device Transmissions</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>2658a7da-f3c8-3500-0000-000000000000</id>
          <parentGroupId>fba256d8-092a-38d4-0000-000000000000</parentGroupId>
          <position>
            <x>369.66668697060857</x>
            <y>247.16665679677578</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?:.*?\|)(.*)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>$1</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Line-by-Line</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Remove Line Headers and Trailing Pipe</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>4a43284a-e326-3a5d-0000-000000000000</id>
          <parentGroupId>fba256d8-092a-38d4-0000-000000000000</parentGroupId>
          <position>
            <x>367.6666971431347</x>
            <y>-1.3333254013036253</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>tail-mode</key>
                <value>
                  <name>tail-mode</name>
                </value>
              </entry>
              <entry>
                <key>File to Tail</key>
                <value>
                  <name>File to Tail</name>
                </value>
              </entry>
              <entry>
                <key>Rolling Filename Pattern</key>
                <value>
                  <name>Rolling Filename Pattern</name>
                </value>
              </entry>
              <entry>
                <key>tail-base-directory</key>
                <value>
                  <name>tail-base-directory</name>
                </value>
              </entry>
              <entry>
                <key>Initial Start Position</key>
                <value>
                  <name>Initial Start Position</name>
                </value>
              </entry>
              <entry>
                <key>File Location</key>
                <value>
                  <name>File Location</name>
                </value>
              </entry>
              <entry>
                <key>tailfile-recursive-lookup</key>
                <value>
                  <name>tailfile-recursive-lookup</name>
                </value>
              </entry>
              <entry>
                <key>tailfile-rolling-strategy</key>
                <value>
                  <name>tailfile-rolling-strategy</name>
                </value>
              </entry>
              <entry>
                <key>tailfile-lookup-frequency</key>
                <value>
                  <name>tailfile-lookup-frequency</name>
                </value>
              </entry>
              <entry>
                <key>tailfile-maximum-age</key>
                <value>
                  <name>tailfile-maximum-age</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>tail-mode</key>
                <value>Single file</value>
              </entry>
              <entry>
                <key>File to Tail</key>
                <value>/tmp/device-transmission/device-data.txt</value>
              </entry>
              <entry>
                <key>Rolling Filename Pattern</key>
              </entry>
              <entry>
                <key>tail-base-directory</key>
              </entry>
              <entry>
                <key>Initial Start Position</key>
                <value>Beginning of File</value>
              </entry>
              <entry>
                <key>File Location</key>
                <value>Local</value>
              </entry>
              <entry>
                <key>tailfile-recursive-lookup</key>
                <value>false</value>
              </entry>
              <entry>
                <key>tailfile-rolling-strategy</key>
                <value>Fixed name</value>
              </entry>
              <entry>
                <key>tailfile-lookup-frequency</key>
                <value>10 minutes</value>
              </entry>
              <entry>
                <key>tailfile-maximum-age</key>
                <value>24 hours</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>TailFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.TailFile</type>
        </processors>
      </contents>
      <name>Acquire Data</name>
    </processGroups>
    <processGroups>
      <id>40a6b572-7ea5-355d-0000-000000000000</id>
      <parentGroupId>bf9145fa-e0cd-354d-0000-000000000000</parentGroupId>
      <position>
        <x>759.7744199895981</x>
        <y>1.436333333995094</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>bc07979d-fcd2-3c97-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>c80e4405-9dae-34b4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>b19c6cc3-8262-3bda-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>03a6a90e-ed1b-3bbf-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2088.718252563476</x>
            <y>361.5725845336913</y>
          </bends>
          <bends>
            <x>2088.718252563476</x>
            <y>411.5725845336913</y>
          </bends>
          <destination>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>31d355e4-fc16-3c83-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>31d355e4-fc16-3c83-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1f0af565-ac6c-3729-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>31d355e4-fc16-3c83-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>c80e4405-9dae-34b4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>68f90869-eb73-325e-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>b19c6cc3-8262-3bda-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>40a6b572-7ea5-355d-0000-000000000000</groupId>
            <id>efca00cd-0889-3e9f-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>b19a3127-fdcf-3f11-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
          </descriptors>
          <name>AlarmFatigue-AvroRecordSetWriter</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>hwx-content-encoded-schema</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>hwx-schema-ref-attributes</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>c9263745-ee10-3e75-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
          <id>c9263745-ee10-3e75-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-hwx-schema-registry-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>url</key>
              <value>
                <name>url</name>
              </value>
            </entry>
            <entry>
              <key>cache-size</key>
              <value>
                <name>cache-size</name>
              </value>
            </entry>
            <entry>
              <key>cache-expiration</key>
              <value>
                <name>cache-expiration</name>
              </value>
            </entry>
          </descriptors>
          <name>AlarmFatigue-HortonworksSchemaRegistry</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>url</key>
              <value>http://ryancicak-1264-1-0.field.hortonworks.com:7788/api/v1</value>
            </entry>
            <entry>
              <key>cache-size</key>
              <value>1000</value>
            </entry>
            <entry>
              <key>cache-expiration</key>
              <value>1 hour</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
          <id>cebb113a-3d7e-3504-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
            <entry>
              <key>BloodPressureDiastolic</key>
              <value>
                <name>BloodPressureDiastolic</name>
              </value>
            </entry>
            <entry>
              <key>BloodPressureSystolic</key>
              <value>
                <name>BloodPressureSystolic</name>
              </value>
            </entry>
            <entry>
              <key>BodyTemperature</key>
              <value>
                <name>BodyTemperature</name>
              </value>
            </entry>
            <entry>
              <key>DeviceGUID</key>
              <value>
                <name>DeviceGUID</name>
              </value>
            </entry>
            <entry>
              <key>DeviceId</key>
              <value>
                <name>DeviceId</name>
              </value>
            </entry>
            <entry>
              <key>DiagnosisDescription</key>
              <value>
                <name>DiagnosisDescription</name>
              </value>
            </entry>
            <entry>
              <key>DoctorEmail</key>
              <value>
                <name>DoctorEmail</name>
              </value>
            </entry>
            <entry>
              <key>HealthProviderName</key>
              <value>
                <name>HealthProviderName</name>
              </value>
            </entry>
            <entry>
              <key>Location</key>
              <value>
                <name>Location</name>
              </value>
            </entry>
            <entry>
              <key>PatientId</key>
              <value>
                <name>PatientId</name>
              </value>
            </entry>
            <entry>
              <key>PatientName</key>
              <value>
                <name>PatientName</name>
              </value>
            </entry>
            <entry>
              <key>PulseRate</key>
              <value>
                <name>PulseRate</name>
              </value>
            </entry>
            <entry>
              <key>Respiration</key>
              <value>
                <name>Respiration</name>
              </value>
            </entry>
            <entry>
              <key>SampleDuration</key>
              <value>
                <name>SampleDuration</name>
              </value>
            </entry>
            <entry>
              <key>TransmissionTimestamp</key>
              <value>
                <name>TransmissionTimestamp</name>
              </value>
            </entry>
          </descriptors>
          <name>AlarmFatigue-JsonPathReader</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-name</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>c9263745-ee10-3e75-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
            <entry>
              <key>BloodPressureDiastolic</key>
              <value>$.BloodPressureDiastolic</value>
            </entry>
            <entry>
              <key>BloodPressureSystolic</key>
              <value>$.BloodPressureSystolic</value>
            </entry>
            <entry>
              <key>BodyTemperature</key>
              <value>$.BodyTemperature</value>
            </entry>
            <entry>
              <key>DeviceGUID</key>
              <value>$.DeviceGUID</value>
            </entry>
            <entry>
              <key>DeviceId</key>
              <value>$.DeviceId</value>
            </entry>
            <entry>
              <key>DiagnosisDescription</key>
              <value>$.DiagnosisDescription</value>
            </entry>
            <entry>
              <key>DoctorEmail</key>
              <value>$.DoctorEmail</value>
            </entry>
            <entry>
              <key>HealthProviderName</key>
              <value>$.HealthProviderName</value>
            </entry>
            <entry>
              <key>Location</key>
              <value>$.Location</value>
            </entry>
            <entry>
              <key>PatientId</key>
              <value>$.PatientId</value>
            </entry>
            <entry>
              <key>PatientName</key>
              <value>$.PatientName</value>
            </entry>
            <entry>
              <key>PulseRate</key>
              <value>$.PulseRate</value>
            </entry>
            <entry>
              <key>Respiration</key>
              <value>$.Respiration</value>
            </entry>
            <entry>
              <key>SampleDuration</key>
              <value>$.SampleDuration</value>
            </entry>
            <entry>
              <key>TransmissionTimestamp</key>
              <value>$.TransmissionTimestamp</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.json.JsonPathReader</type>
        </controllerServices>
        <inputPorts>
          <id>efca00cd-0889-3e9f-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>656.9999981419014</x>
            <y>537.2424507245535</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Input from Enrich Data</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>aae88b9d-95e3-397b-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>640.8734722629952</x>
            <y>604.2686784142986</y>
          </position>
          <height>64.53367614746094</height>
          <label>Note:
Input Port to which Mahesh's processor will connect to</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>362.6112365722656</width>
        </labels>
        <labels>
          <id>d48d34e8-8833-3399-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>1253.9999981419014</x>
            <y>-12.999998343513823</y>
          </position>
          <height>79.0</height>
          <label>Note
1. This processor updates the schema name. Make sure to update
the schema name here if there are changes to the schema name or
a new schema needs to be used.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>435.0</width>
        </labels>
        <labels>
          <id>41cdb1ab-23d7-3e8f-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>1518.9999981419014</x>
            <y>464.0000016564861</y>
          </position>
          <height>102.43858337402344</height>
          <label>Note:
1. The Hortonworks schema registry needs to be started first and then 
the other two controller services
2. The URL for the schema may need to change once deployed
to the demo environment.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>471.4054260253906</width>
        </labels>
        <processors>
          <id>b19c6cc3-8262-3bda-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>988.6714134460825</x>
            <y>308.02129120793353</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Attributes List</key>
                <value>
                  <name>Attributes List</name>
                </value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>
                  <name>Include Core Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>
                  <name>Null Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Attributes List</key>
                <value>DeviceGUID, DeviceId, PatientId, PatientName, DiagnosisDescription, HealthProviderName, Location, DoctorEmail, SampleDuration, Respiration, PulseRate, BloodPressureSystolic, BloodPressureDiastolic, BodyTemperature, TransmissionTimestamp</value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AttributesToJSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
          <id>c80e4405-9dae-34b4-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>1304.6638409214202</x>
            <y>74.79647271246112</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier.1</key>
                <value>
                  <name>schema.identifier.1</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version.1</key>
                <value>
                  <name>schema.version.1</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.identifier.1</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>afeventavro</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version.1</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set Schema Name</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>31d355e4-fc16-3c83-0000-000000000000</id>
          <parentGroupId>40a6b572-7ea5-355d-0000-000000000000</parentGroupId>
          <position>
            <x>1633.7182525634764</x>
            <y>321.5725845336913</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>ryancicak-1264-1-0.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>afeventavro</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>cebb113a-3d7e-3504-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>b19a3127-fdcf-3f11-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PublishKafkaRecord_0_10</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
      </contents>
      <name>Publish Device Event to Kafka</name>
    </processGroups>
    <processGroups>
      <id>6420c152-c248-3080-0000-000000000000</id>
      <parentGroupId>bf9145fa-e0cd-354d-0000-000000000000</parentGroupId>
      <position>
        <x>394.64935496867633</x>
        <y>297.07679041174583</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>891afdab-225f-33bf-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>8f168194-f161-313d-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>1fd7e413-9316-3f19-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a0a6c133-7e6c-3717-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>5bbfe974-35ae-35af-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>d197de37-dd8e-3dee-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c13ffb61-123f-3b76-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>4d089c4f-8d8e-376e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>61978812-05bb-39b9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f5107a18-26f6-3eed-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>1fd7e413-9316-3f19-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>57ca301a-5d50-359f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>179907ed-fa1a-3be6-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>61978812-05bb-39b9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>5bbfe974-35ae-35af-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>652fd86e-bfe5-305c-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>57ca301a-5d50-359f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6420c152-c248-3080-0000-000000000000</groupId>
            <id>4d089c4f-8d8e-376e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>ad156a5a-b484-3e68-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-hive-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>hive-db-connect-url</key>
              <value>
                <name>hive-db-connect-url</name>
              </value>
            </entry>
            <entry>
              <key>hive-config-resources</key>
              <value>
                <name>hive-config-resources</name>
              </value>
            </entry>
            <entry>
              <key>hive-db-user</key>
              <value>
                <name>hive-db-user</name>
              </value>
            </entry>
            <entry>
              <key>hive-db-password</key>
              <value>
                <name>hive-db-password</name>
              </value>
            </entry>
            <entry>
              <key>hive-max-wait-time</key>
              <value>
                <name>hive-max-wait-time</name>
              </value>
            </entry>
            <entry>
              <key>hive-max-total-connections</key>
              <value>
                <name>hive-max-total-connections</name>
              </value>
            </entry>
            <entry>
              <key>Validation-query</key>
              <value>
                <name>Validation-query</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
              <value>
                <name>Kerberos Principal</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
              <value>
                <name>Kerberos Keytab</name>
              </value>
            </entry>
          </descriptors>
          <name>HiveConnectionPoolmmp</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>hive-db-connect-url</key>
              <value>jdbc:hive2://localhost:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2</value>
            </entry>
            <entry>
              <key>hive-config-resources</key>
            </entry>
            <entry>
              <key>hive-db-user</key>
              <value>hive</value>
            </entry>
            <entry>
              <key>hive-db-password</key>
            </entry>
            <entry>
              <key>hive-max-wait-time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>hive-max-total-connections</key>
              <value>8</value>
            </entry>
            <entry>
              <key>Validation-query</key>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.dbcp.hive.HiveConnectionPool</type>
        </controllerServices>
        <controllerServices>
          <id>c93bf644-6a53-38f2-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
            <entry>
              <key>CSV Format</key>
              <value>
                <name>CSV Format</name>
              </value>
            </entry>
            <entry>
              <key>Value Separator</key>
              <value>
                <name>Value Separator</name>
              </value>
            </entry>
            <entry>
              <key>Include Header Line</key>
              <value>
                <name>Include Header Line</name>
              </value>
            </entry>
            <entry>
              <key>Quote Character</key>
              <value>
                <name>Quote Character</name>
              </value>
            </entry>
            <entry>
              <key>Escape Character</key>
              <value>
                <name>Escape Character</name>
              </value>
            </entry>
            <entry>
              <key>Comment Marker</key>
              <value>
                <name>Comment Marker</name>
              </value>
            </entry>
            <entry>
              <key>Null String</key>
              <value>
                <name>Null String</name>
              </value>
            </entry>
            <entry>
              <key>Trim Fields</key>
              <value>
                <name>Trim Fields</name>
              </value>
            </entry>
            <entry>
              <key>Quote Mode</key>
              <value>
                <name>Quote Mode</name>
              </value>
            </entry>
            <entry>
              <key>Record Separator</key>
              <value>
                <name>Record Separator</name>
              </value>
            </entry>
            <entry>
              <key>Include Trailing Delimiter</key>
              <value>
                <name>Include Trailing Delimiter</name>
              </value>
            </entry>
          </descriptors>
          <name>CSVRecordSetWritermmp</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>full-schema-attribute</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-text-property</value>
            </entry>
            <entry>
              <key>schema-registry</key>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>{"type": "record",
"name": "devicenormalized",
"fields": [
{"name": "DeviceGUID", "type": "string"},
{"name": "SampleDuration", "type": ["null", "string"]},
{"name": "Respiration", "type": ["null", "string"]},
{"name": "PulseRate", "type": ["null", "string"]},
{"name": "BloodPressureSystolic", "type": ["null", "string"]},
{"name": "BloodPressureDiastolic", "type": ["null", "string"]},
{"name": "BodyTemperature", "type": ["null", "string"]},
{"name": "TransmissionTimestamp", "type": ["null", "string"]}
]}</value>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
            <entry>
              <key>CSV Format</key>
              <value>custom</value>
            </entry>
            <entry>
              <key>Value Separator</key>
              <value>,</value>
            </entry>
            <entry>
              <key>Include Header Line</key>
              <value>false</value>
            </entry>
            <entry>
              <key>Quote Character</key>
              <value>"</value>
            </entry>
            <entry>
              <key>Escape Character</key>
              <value>\</value>
            </entry>
            <entry>
              <key>Comment Marker</key>
            </entry>
            <entry>
              <key>Null String</key>
            </entry>
            <entry>
              <key>Trim Fields</key>
              <value>true</value>
            </entry>
            <entry>
              <key>Quote Mode</key>
              <value>MINIMAL</value>
            </entry>
            <entry>
              <key>Record Separator</key>
              <value>\n</value>
            </entry>
            <entry>
              <key>Include Trailing Delimiter</key>
              <value>false</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
          <id>ec72bcb0-1a6d-3e5b-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
            <entry>
              <key>CSV Format</key>
              <value>
                <name>CSV Format</name>
              </value>
            </entry>
            <entry>
              <key>Value Separator</key>
              <value>
                <name>Value Separator</name>
              </value>
            </entry>
            <entry>
              <key>Skip Header Line</key>
              <value>
                <name>Skip Header Line</name>
              </value>
            </entry>
            <entry>
              <key>Quote Character</key>
              <value>
                <name>Quote Character</name>
              </value>
            </entry>
            <entry>
              <key>Escape Character</key>
              <value>
                <name>Escape Character</name>
              </value>
            </entry>
            <entry>
              <key>Comment Marker</key>
              <value>
                <name>Comment Marker</name>
              </value>
            </entry>
            <entry>
              <key>Null String</key>
              <value>
                <name>Null String</name>
              </value>
            </entry>
            <entry>
              <key>Trim Fields</key>
              <value>
                <name>Trim Fields</name>
              </value>
            </entry>
          </descriptors>
          <name>CSVReadermmp</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-text-property</value>
            </entry>
            <entry>
              <key>schema-registry</key>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>{ "type": "record",
"name": "DeviceTransmission",
"fields": [
{"name": "DeviceGUID", "type": "string"},
{"name": "SampleDuration", "type": ["null", "string"]},
{"name": "Respiration", "type": ["null", "string"]},
{"name": "PulseRate", "type": ["null", "string"]},
{"name": "BloodPressureSystolic", "type": ["null", "string"]},
{"name": "BloodPressureDiastolic", "type": ["null", "string"]},
{"name": "BodyTemperature", "type": ["null", "string"]},
{"name": "TransmissionTimestamp", "type": ["null", "string"]}
]}
</value>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
            <entry>
              <key>CSV Format</key>
              <value>custom</value>
            </entry>
            <entry>
              <key>Value Separator</key>
              <value>,</value>
            </entry>
            <entry>
              <key>Skip Header Line</key>
              <value>false</value>
            </entry>
            <entry>
              <key>Quote Character</key>
              <value>"</value>
            </entry>
            <entry>
              <key>Escape Character</key>
              <value>\</value>
            </entry>
            <entry>
              <key>Comment Marker</key>
            </entry>
            <entry>
              <key>Null String</key>
            </entry>
            <entry>
              <key>Trim Fields</key>
              <value>true</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <inputPorts>
          <id>d197de37-dd8e-3dee-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>432.76751472318546</x>
            <y>-283.9110986693153</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Input Device Transmissions</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>8f168194-f161-313d-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>950.5816159684814</x>
            <y>545.4152955896811</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>PublishfToKafka</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>1fd7e413-9316-3f19-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>1381.6896335635497</x>
            <y>532.5088119322143</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>BloodPressureDiastolic</key>
                <value>
                  <name>BloodPressureDiastolic</name>
                </value>
              </entry>
              <entry>
                <key>BloodPressureSystolic</key>
                <value>
                  <name>BloodPressureSystolic</name>
                </value>
              </entry>
              <entry>
                <key>BodyTemperature</key>
                <value>
                  <name>BodyTemperature</name>
                </value>
              </entry>
              <entry>
                <key>DeviceGUID</key>
                <value>
                  <name>DeviceGUID</name>
                </value>
              </entry>
              <entry>
                <key>DeviceId</key>
                <value>
                  <name>DeviceId</name>
                </value>
              </entry>
              <entry>
                <key>DiagnosisDescription</key>
                <value>
                  <name>DiagnosisDescription</name>
                </value>
              </entry>
              <entry>
                <key>DoctorEmail</key>
                <value>
                  <name>DoctorEmail</name>
                </value>
              </entry>
              <entry>
                <key>HealthProviderName</key>
                <value>
                  <name>HealthProviderName</name>
                </value>
              </entry>
              <entry>
                <key>Location</key>
                <value>
                  <name>Location</name>
                </value>
              </entry>
              <entry>
                <key>PatientId</key>
                <value>
                  <name>PatientId</name>
                </value>
              </entry>
              <entry>
                <key>PatientName</key>
                <value>
                  <name>PatientName</name>
                </value>
              </entry>
              <entry>
                <key>PulseRate</key>
                <value>
                  <name>PulseRate</name>
                </value>
              </entry>
              <entry>
                <key>Respiration</key>
                <value>
                  <name>Respiration</name>
                </value>
              </entry>
              <entry>
                <key>SampleDuration</key>
                <value>
                  <name>SampleDuration</name>
                </value>
              </entry>
              <entry>
                <key>TransmissionTimestamp</key>
                <value>
                  <name>TransmissionTimestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>BloodPressureDiastolic</key>
                <value>${DeviceTransmission.6}</value>
              </entry>
              <entry>
                <key>BloodPressureSystolic</key>
                <value>${DeviceTransmission.5}</value>
              </entry>
              <entry>
                <key>BodyTemperature</key>
                <value>${DeviceTransmission.7}</value>
              </entry>
              <entry>
                <key>DeviceGUID</key>
                <value>${DeviceTransmission.1}</value>
              </entry>
              <entry>
                <key>DeviceId</key>
                <value>${devicenormalized.2}</value>
              </entry>
              <entry>
                <key>DiagnosisDescription</key>
                <value>${devicenormalized.5}</value>
              </entry>
              <entry>
                <key>DoctorEmail</key>
                <value>${devicenormalized.8}</value>
              </entry>
              <entry>
                <key>HealthProviderName</key>
                <value>${devicenormalized.6}</value>
              </entry>
              <entry>
                <key>Location</key>
                <value>${devicenormalized.7}</value>
              </entry>
              <entry>
                <key>PatientId</key>
                <value>${devicenormalized.3}</value>
              </entry>
              <entry>
                <key>PatientName</key>
                <value>${devicenormalized.4}</value>
              </entry>
              <entry>
                <key>PulseRate</key>
                <value>${DeviceTransmission.4}</value>
              </entry>
              <entry>
                <key>Respiration</key>
                <value>${DeviceTransmission.3}</value>
              </entry>
              <entry>
                <key>SampleDuration</key>
                <value>${DeviceTransmission.2}</value>
              </entry>
              <entry>
                <key>TransmissionTimestamp</key>
                <value>${DeviceTransmission.8}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>4d089c4f-8d8e-376e-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>1381.6896335635497</x>
            <y>-63.82653629779816</y>
          </position>
          <bundle>
            <artifact>nifi-hive-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hive Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
                  <name>Hive Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>hive-query</key>
                <value>
                  <name>hive-query</name>
                </value>
              </entry>
              <entry>
                <key>hive-output-format</key>
                <value>
                  <name>hive-output-format</name>
                </value>
              </entry>
              <entry>
                <key>csv-header</key>
                <value>
                  <name>csv-header</name>
                </value>
              </entry>
              <entry>
                <key>csv-alt-header</key>
                <value>
                  <name>csv-alt-header</name>
                </value>
              </entry>
              <entry>
                <key>csv-delimiter</key>
                <value>
                  <name>csv-delimiter</name>
                </value>
              </entry>
              <entry>
                <key>csv-quote</key>
                <value>
                  <name>csv-quote</name>
                </value>
              </entry>
              <entry>
                <key>csv-escape</key>
                <value>
                  <name>csv-escape</name>
                </value>
              </entry>
              <entry>
                <key>hive-charset</key>
                <value>
                  <name>hive-charset</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hive Database Connection Pooling Service</key>
                <value>ad156a5a-b484-3e68-0000-000000000000</value>
              </entry>
              <entry>
                <key>hive-query</key>
                <value>select * from alarmfatigue.devicenormalized where deviceguid = '${DeviceTransmission.1}'</value>
              </entry>
              <entry>
                <key>hive-output-format</key>
                <value>CSV</value>
              </entry>
              <entry>
                <key>csv-header</key>
                <value>false</value>
              </entry>
              <entry>
                <key>csv-alt-header</key>
              </entry>
              <entry>
                <key>csv-delimiter</key>
                <value>,</value>
              </entry>
              <entry>
                <key>csv-quote</key>
                <value>false</value>
              </entry>
              <entry>
                <key>csv-escape</key>
                <value>true</value>
              </entry>
              <entry>
                <key>hive-charset</key>
                <value>UTF-8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SelectHiveQL</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.hive.SelectHiveQL</type>
        </processors>
        <processors>
          <id>57ca301a-5d50-359f-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>1390.4450046572997</x>
            <y>201.1373653227172</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>devicenormalized</key>
                <value>
                  <name>devicenormalized</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>true</value>
              </entry>
              <entry>
                <key>devicenormalized</key>
                <value>(.*?)(?:,|$)</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>5bbfe974-35ae-35af-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>852.0457447464808</x>
            <y>-323.9110986693153</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Record Reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>Record Reader</name>
                </value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>Record Writer</name>
                </value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>
                  <name>Records Per Split</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Record Reader</key>
                <value>ec72bcb0-1a6d-3e5b-0000-000000000000</value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>c93bf644-6a53-38f2-0000-000000000000</value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitRecord</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitRecord</type>
        </processors>
        <processors>
          <id>61978812-05bb-39b9-0000-000000000000</id>
          <parentGroupId>6420c152-c248-3080-0000-000000000000</parentGroupId>
          <position>
            <x>1381.6896335635497</x>
            <y>-323.9110986693153</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>DeviceTransmission</key>
                <value>
                  <name>DeviceTransmission</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>true</value>
              </entry>
              <entry>
                <key>DeviceTransmission</key>
                <value>(.*?)(?:,|$)</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
      </contents>
      <name>Enrich Data</name>
    </processGroups>
  </snippet>
  <timestamp>10/20/2017 15:52:46 UTC</timestamp>
</template>